<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrylzTLTIWuJedQu6_w45Q8je8B_kuiDo</string>
	<key>GCM_SENDER_ID</key>
	<string>312429107987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brlakgec.brlCourseReviewApp</string>
	<key>PROJECT_ID</key>
	<string>brl-course-review-app</string>
	<key>STORAGE_BUCKET</key>
	<string>brl-course-review-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312429107987:ios:421a9135711b15687ad8e6</string>
</dict>
</plist>